/**COLORS**/
$primary-color: #009688;
$dark-primary-color:  #00796B;
$light-primary-color: #B2DFDB;
$accent-color: #FFC107;
$success-color: #FFC107;
$green-success-color: #79ef7f;
$link-color-inverted: #85d9ff;

$transition-duration: 500ms;
