<div class="small-window shadow-2dp">
    <h1 class="font-large primary-color text-center margin-bottom-small">Add map element</h1>
    <hr>
    <form class="margin-top-small" novalidate [formGroup]="form" (submit)="submit()">
        <div class="form-group">
            <label for="">Map element name</label>
            <input type="text" formControlName="name">
        </div>

        <div class="form-group">
            <label for="">Map element source</label>
            <input (change)="setFile($event)" type="file">
        </div>

        <div class="form-group">
            <label for="">Z-Index</label>
            <input type="number" formControlName="zcoord">
        </div>

        <div class="form-group">
            <label for="">Width</label>
            <input type="number" formControlName="width">
        </div>

        <div class="form-group">
            <label for="">Height</label>
            <input type="number" formControlName="height">
        </div>

        <button class="btn full-width" type="submit">Save map element</button>
    </form>
</div>