<div class="menu-left">
    <accordion>
        <accordion-child title="Background">
            <div>Test</div>
        </accordion-child>
        <accordion-child title="Characters">
            <accordion-item></accordion-item>
        </accordion-child>
        <accordion-child title="Map-Elements">
            <accordion-item></accordion-item>
        </accordion-child>
        <accordion-child title="Decoration">
            <accordion-item></accordion-item>
        </accordion-child>
    </accordion>
</div>