<div class="top-right">
    <div (click)="changeMapElementVisibility()" class="tile-view view-item">
        <i class="fa fa-ticket"></i>
    </div>
    <div (click)="changeCharacterVisibility()" class="chars-view view-item">
        <i class="fa fa-user"></i>
    </div>
    <div (click)="changeDecorationVisibility()" class="view-all view-item">
        <i class="fa fa-eye"></i>
    </div>
</div>

<div class="elements">
    <map-element [style.z-index]="item.mapElement.zCoord" *ngFor="let item of mapCreator.mapElements" [element]="item.mapElement" [xCoord]="item.xCoord" [yCoord]="item.yCoord"></map-element>
    <decoration *ngFor="let decoration of mapCreator.decorations" [element]="decoration.decoration" [xCoord]="decoration.xCoord" [yCoord]="decoration.yCoord"></decoration>
    <character *ngFor="let item of mapCreator.characters" [element]="item.character" [xCoord]="item.xCoord" [yCoord]="item.yCoord"></character>
    <collectible *ngFor="let item of mapCreator.collectibles" [element]="item.collectible" [xCoord]="item.xCoord" [yCoord]="item.yCoord"></collectible>
</div>
<div class="selected">
    <img #image style="position: fixed;" [width]="selectedElement?.width" [height]="selectedElement?.height" [src]="getSource()" alt="">
</div>

