<div class="menu-left">
    <accordion>
        <accordion-child title="Background">
            <accordion-item>Test</accordion-item>
            <accordion-item><a routerLink="/background/add" class="text-center add-element"><i class="fa fa-plus"></i></a></accordion-item>
        </accordion-child>
        <accordion-child title="Characters">
            <accordion-item><a routerLink="/character/add" class="text-center add-element"><i class="fa fa-plus"></i></a></accordion-item>
        </accordion-child>
        <accordion-child title="Map-Elements">
            <accordion-item><a routerLink="/mapElement/add" class="text-center add-element"><i class="fa fa-plus"></i></a></accordion-item>
        </accordion-child>
        <accordion-child title="Decoration">
            <accordion-item><a routerLink="/decoration/add" class="text-center add-element"><i class="fa fa-plus"></i></a></accordion-item>
        </accordion-child>
        <accordion-child title="Collectibles">
            <accordion-item><a routerLink="/collectibles/add" class="text-center add-element"><i class="fa fa-plus"></i></a></accordion-item>
        </accordion-child>
    </accordion>
</div>
<div class="flex flex-1 scroll">
<game-map></game-map>
</div>
